html, body {
    width: 100%;
    height: 100%;
    position:relative;
}

*{
     position:relative;
}
#placeholder{
    position: fixed;
    height:100px;
    background-color: yellow;
}

.container{
    padding-top:20px;
    width: 100%;
    height: 100%;
    position:relative;
}

#v-home{
/*    margin-top:350px;*/
    text-align: center;
}

/*.page{
    margin-top:20px;
}
*/
#create-event{
    width:100%;
    background-color:rgb(235,68,83);
    margin-top: 50%;
    color:white;
}

#input-event-name{
    background-color:rgb(235,68,83) ;
    margin-top:50px;
}